<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список режимов работы</title>
    <script>
        // Передача токена в глобальную переменную, так как
        // Gсервер ресурсов не умеет работать с сессиями.
        const jwtToken = '[[${jwtToken}]]';
        sessionStorage.setItem('jwtToken', jwtToken);
    </script>

    <link rel="stylesheet" th:href="@{/api/web-service/static/css/style.css}">
    <script th:src="@{/api/web-service/static/js/work-schedules.js}"></script>
</head>

<body>
<h1>Список режимов работы</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Расписание</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${workSchedules}">
        <td th:text="${schedule.id}"></td>
        <td class="details-column">
            <span th:id="'text-' + ${schedule.id}" th:text="${schedule.scheduleDetails}"></span>
            <input th:id="'input-' + ${schedule.id}" type="text" th:value="${schedule.scheduleDetails}" class="edit-input" style="display: none;">
        </td>
        <td class="actions-column">
            <div class="action-buttons">
                <button th:id="'edit-btn-' + ${schedule.id}"
                        th:if="${userPermissions.contains('update')}"
                        th:attr="onclick='editRow(' + ${schedule.id} + ')'"
                        class="button edit-btn">Edit</button>
                <button th:id="'save-btn-' + ${schedule.id}"
                        th:if="${userPermissions.contains('update')}"
                        th:attr="onclick='saveRow(' + ${schedule.id} + ')'"
                        class="button" style="display: none;">Save</button>
                <button th:id="'delete-btn-' + ${schedule.id}"
                        th:if="${userPermissions.contains('delete')}"
                        th:attr="onclick='deleteRow(' + ${schedule.id} + ')'"
                        class="button delete-btn">Delete</button>
                <button th:id="'cancel-btn-' + ${schedule.id}"
                        th:if="${userPermissions.contains('update')}"
                        th:attr="onclick='cancelEdit(' + ${schedule.id} + ')'"
                        class="button cancel-btn" style="display: none;">Cancel</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="add-new-container">
    <input id="new-schedule" type="text" placeholder="Enter new schedule details">
    <button th:if="${userPermissions.contains('write')}" class="button" onclick="addNewSchedule()">Add</button>
</div>
<div class="button-container">
    <a href="/api/web-service" class="button">Назад</a>
</div>
</body>
</html>

